In [1]:
import pandas as pd

In [4]:
file = "Resources/DataWithHeaders.csv"
df = pd.read_csv(file)
df.head()

,Unnamed: 0,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,...,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location,Community Areas
0,0,bc6f08423e9f194cb63a0d5ec6c6a2dea001e914,07a82232d832859a7dcb1c40846bb3e21acb2c84755ef6...,11/16/2013 01:45:00 AM,11/16/2013 01:45:00 AM,480.0,0.15,1.703108e+10,1.703108e+10,8.0,...,8.05,Cash,NaN,41.907413,-87.640902,POINT (-87.6409015248 41.9074128162),41.892042,-87.631864,POINT (-87.6318639497 41.8920421365),37.0
1,1,b2e0ede2b0d907551beda4e8b4b83c143010f63d,74605d6aa0c8ba08190a5824f79ef27172c59671b00582...,09/28/2016 04:45:00 PM,09/28/2016 04:45:00 PM,420.0,0.00,1.703184e+10,1.703132e+10,32.0,...,8.75,Credit Card,Blue Ribbon Taxi Association Inc.,41.880994,-87.632746,POINT (-87.6327464887 41.8809944707),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),38.0
2,2,c2155aedc41a27673cd498d0fea754a18132d7f9,4243ab34318764eb5ca51054af503c610b50579594cef6...,12/10/2013 07:15:00 AM,12/10/2013 07:30:00 AM,720.0,1.80,1.703128e+10,1.703108e+10,28.0,...,8.44,Cash,NaN,41.879255,-87.642649,POINT (-87.642648998 41.8792550844),41.895033,-87.619711,POINT (-87.6197106717 41.8950334495),29.0
3,3,c1e860354f05150021e1bdeb7696314ca3e15608,65e345a16c02e0408409d6d71a7a5cb09449e5c84c16d0...,02/27/2014 09:00:00 AM,02/27/2014 09:45:00 AM,2700.0,0.00,1.703108e+10,1.703198e+10,8.0,...,50.70,Credit Card,Choice Taxi Association,41.902788,-87.626146,POINT (-87.6261455896 41.9027880476),41.979071,-87.903040,POINT (-87.9030396611 41.9790708201),37.0
4,4,bdff93a935333338e6f2f04f778ad7713a36c9ad,8ca267f2246008a052c14ce8c81001149d86916ab274d3...,10/31/2016 04:15:00 PM,10/31/2016 04:15:00 PM,660.0,3.00,NaN,NaN,32.0,...,13.50,Credit Card,NaN,41.878866,-87.625192,POINT (-87.6251921424 41.8788655841),41.835118,-87.618678,POINT (-87.6186777673 41.8351179863),38.0

In [5]:
df.columns

Index(['Unnamed: 0', 'Trip ID', 'Taxi ID', 'Trip Start Timestamp',
       'Trip End Timestamp', 'Trip Seconds', 'Trip Miles',
       'Pickup Census Tract', 'Dropoff Census Tract', 'Pickup Community Area',
       'Dropoff Community Area', 'Fare', 'Tips', 'Tolls', 'Extras',
       'Trip Total', 'Payment Type', 'Company', 'Pickup Centroid Latitude',
       'Pickup Centroid Longitude', 'Pickup Centroid Location',
       'Dropoff Centroid Latitude', 'Dropoff Centroid Longitude',
       'Dropoff Centroid Location', 'Community Areas'],
      dtype='object')

In [7]:
df_reduced = df.loc[:, ["Trip Start Timestamp", "Trip End Timestamp", "Trip Seconds", "Trip Miles", 
                       "Pickup Community Area", "Dropoff Community Area", "Fare", "Tips", "Trip Total",
                       "Payment Type", "Community Areas"]]

df_reduced.head()

,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Community Area,Dropoff Community Area,Fare,Tips,Trip Total,Payment Type,Community Areas
0,11/16/2013 01:45:00 AM,11/16/2013 01:45:00 AM,480.0,0.15,8.0,8.0,7.05,0.00,8.05,Cash,37.0
1,09/28/2016 04:45:00 PM,09/28/2016 04:45:00 PM,420.0,0.00,32.0,32.0,6.75,2.00,8.75,Credit Card,38.0
2,12/10/2013 07:15:00 AM,12/10/2013 07:30:00 AM,720.0,1.80,28.0,8.0,8.44,0.00,8.44,Cash,29.0
3,02/27/2014 09:00:00 AM,02/27/2014 09:45:00 AM,2700.0,0.00,8.0,76.0,39.25,8.45,50.70,Credit Card,37.0
4,10/31/2016 04:15:00 PM,10/31/2016 04:15:00 PM,660.0,3.00,32.0,35.0,11.00,2.00,13.50,Credit Card,38.0

In [12]:
# Look at only trips where customer paid by cash

df_cash = df_reduced.loc[df_reduced["Payment Type"] == "Cash"]
df_cash.sort_values("Tips", inplace=True, ascending=False)
df_cash

C:\Users\sseyer\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Community Area,Dropoff Community Area,Fare,Tips,Trip Total,Payment Type,Community Areas
9943,06/14/2015 12:00:00 AM,06/14/2015 12:30:00 AM,1620.0,17.80,76.0,8.0,53.25,11.25,67.50,Cash,75.0
9098,07/20/2015 07:15:00 PM,07/21/2015 12:00:00 AM,16740.0,18.24,77.0,77.0,38.85,8.37,50.22,Cash,76.0
22653,06/12/2014 04:00:00 PM,06/13/2014 12:00:00 AM,28500.0,17.33,32.0,8.0,38.85,8.17,49.02,Cash,38.0
4914,02/23/2013 06:30:00 PM,02/23/2013 06:45:00 PM,420.0,0.00,8.0,8.0,39.45,7.89,47.34,Cash,37.0
13538,09/02/2014 06:00:00 AM,09/02/2014 06:45:00 AM,2640.0,13.20,1.0,1.0,31.45,6.00,40.45,Cash,10.0
3405,06/20/2014 09:00:00 PM,06/21/2014 12:00:00 AM,10680.0,5.48,3.0,3.0,14.05,3.51,17.56,Cash,31.0
38492,08/14/2014 01:15:00 PM,08/15/2014 12:00:00 AM,38700.0,4.40,8.0,8.0,14.05,3.21,19.26,Cash,37.0
17823,06/13/2014 03:45:00 PM,06/14/2014 12:00:00 AM,30000.0,5.30,8.0,32.0,15.25,3.05,18.30,Cash,37.0
24231,11/28/2015 05:00:00 PM,11/28/2015 05:00:00 PM,540.0,1.10,8.0,32.0,7.05,3.00,11.55,Cash,37.0
18772,02/20/2016 09:45:00 PM,02/20/2016 10:00:00 PM,480.0,3.10,7.0,8.0,10.50,3.00,14.50,Cash,68.0
13485,03/05/2015 08:30:00 PM,03/05/2015 08:30:00 PM,720.0,4.60,16.0,7.0,12.45,3.00,15.45,Cash,16.0
20265,05/17/2014 08:30:00 AM,05/17/2014 08:45:00 AM,780.0,3.20,32.0,33.0,10.85,3.00,14.85,Cash,38.0
36982,05/21/2016 03:15:00 AM,05/21/2016 03:30:00 AM,600.0,3.80,8.0,28.0,12.75,3.00,15.75,Cash,37.0
10850,11/11/2014 11:45:00 AM,11/12/2014 12:00:00 AM,43800.0,1.86,2.0,2.0,8.65,2.16,10.81,Cash,20.0
36675,06/26/2014 09:45:00 PM,06/27/2014 12:00:00 AM,8160.0,3.15,8.0,32.0,10.25,2.05,12.30,Cash,37.0
28766,01/19/2016 07:45:00 AM,01/19/2016 08:00:00 AM,660.0,2.30,7.0,32.0,9.75,2.00,11.75,Cash,68.0
16999,06/09/2014 08:30:00 PM,06/10/2014 12:00:00 AM,12840.0,2.70,14.0,5.0,9.25,2.00,11.25,Cash,14.0
34930,06/17/2016 11:15:00 PM,06/17/2016 11:30:00 PM,838.0,30.80,8.0,33.0,11.75,2.00,13.75,Cash,37.0
9841,11/04/2015 05:15:00 PM,11/04/2015 05:15:00 PM,600.0,1.40,32.0,8.0,7.45,2.00,9.45,Cash,38.0
18891,02/03/2015 04:15:00 PM,02/03/2015 04:30:00 PM,360.0,0.70,32.0,32.0,5.45,2.00,7.45,Cash,38.0
16783,12/09/2016 08:00:00 PM,12/09/2016 08:15:00 PM,720.0,1.70,6.0,6.0,9.25,2.00,11.25,Cash,57.0
5358,11/05/2014 05:30:00 PM,11/06/2014 12:00:00 AM,23580.0,1.00,32.0,8.0,7.05,2.00,10.05,Cash,38.0
29342,01/05/2016 05:00:00 PM,01/05/2016 05:15:00 PM,240.0,0.50,8.0,7.0,5.00,2.00,7.00,Cash,37.0
24015,01/20/2014 07:45:00 AM,01/20/2014 07:45:00 AM,120.0,0.80,8.0,8.0,4.65,2.00,6.65,Cash,37.0
41631,12/27/2014 10:30:00 AM,12/27/2014 10:30:00 AM,0.0,0.00,6.0,6.0,3.25,2.00,5.25,Cash,57.0
12579,11/15/2013 09:00:00 PM,11/15/2013 09:00:00 PM,240.0,0.90,24.0,24.0,5.05,2.00,8.05,Cash,25.0
47119,03/01/2013 01:00:00 PM,03/01/2013 01:00:00 PM,540.0,0.00,32.0,32.0,7.05,2.00,9.05,Cash,38.0
7078,06/16/2014 07:45:00 AM,06/17/2014 12:00:00 AM,58860.0,2.09,32.0,8.0,9.05,1.81,10.86,Cash,38.0
19900,03/01/2013 04:00:00 PM,03/01/2013 05:00:00 PM,3540.0,0.00,56.0,56.0,11.85,1.50,13.35,Cash,53.0
6422,09/21/2016 11:00:00 AM,09/21/2016 11:15:00 AM,1020.0,3.00,8.0,7.0,12.25,1.00,13.25,Cash,37.0
...,...,...,...,...,...,...,...,...,...,...,...
16773,07/05/2014 10:00:00 PM,07/05/2014 10:00:00 PM,0.0,0.00,33.0,NaN,4.05,0.00,5.05,Cash,34.0
16726,02/14/2014 01:30:00 PM,02/14/2014 01:30:00 PM,360.0,0.40,8.0,8.0,5.25,0.00,5.25,Cash,37.0
16770,07/12/2013 09:45:00 AM,07/12/2013 10:00:00 AM,120.0,0.40,8.0,8.0,4.25,0.00,4.25,Cash,37.0
16766,11/05/2016 04:30:00 PM,11/05/2016 04:30:00 PM,120.0,0.00,6.0,6.0,4.00,0.00,4.00,Cash,57.0
16765,02/09/2013 12:30:00 PM,02/09/2013 12:45:00 PM,900.0,0.22,28.0,28.0,9.65,0.00,9.65,Cash,29.0
16764,08/20/2014 09:00:00 PM,08/20/2014 09:00:00 PM,420.0,0.00,8.0,28.0,6.65,0.00,6.65,Cash,37.0
16763,11/07/2014 11:30:00 PM,11/07/2014 11:45:00 PM,780.0,0.10,22.0,7.0,9.85,0.00,9.85,Cash,23.0
16762,02/06/2014 07:15:00 PM,02/06/2014 07:30:00 PM,480.0,0.00,8.0,8.0,6.25,0.00,6.25,Cash,37.0
16760,04/02/2013 01:15:00 AM,04/02/2013 01:15:00 AM,420.0,1.70,8.0,24.0,6.85,0.00,6.85,Cash,37.0
16759,01/20/2015 10:00:00 AM,01/20/2015 10:00:00 AM,120.0,0.00,3.0,3.0,4.05,0.00,4.05,Cash,31.0
16758,07/09/2015 08:15:00 AM,07/09/2015 08:15:00 AM,360.0,0.70,8.0,8.0,5.65,0.00,5.65,Cash,37.0
16757,09/11/2013 07:30:00 PM,09/11/2013 07:30:00 PM,0.0,0.00,8.0,76.0,3.25,0.00,3.25,Cash,37.0
16756,06/26/2013 11:30:00 AM,06/26/2013 11:45:00 AM,300.0,1.60,32.0,8.0,6.45,0.00,6.45,Cash,38.0
16755,07/19/2016 01:30:00 PM,07/19/2016 01:30:00 PM,300.0,1.00,32.0,8.0,6.00,0.00,7.00,Cash,38.0
16753,07/27/2013 06:00:00 PM,07/27/2013 06:00:00 PM,360.0,0.00,32.0,8.0,5.65,0.00,6.65,Cash,38.0
16752,01/01/2015 12:15:00 AM,01/01/2015 12:30:00 AM,1200.0,0.10,6.0,6.0,12.05,0.00,12.05,Cash,57.0
16751,04/18/2013 09:00:00 PM,04/18/2013 09:15:00 PM,720.0,5.30,32.0,6.0,13.45,0.00,14.45,Cash,38.0
16748,07/16/2013 10:15:00 AM,07/16/2013 10:30:00 AM,480.0,1.90,8.0,32.0,7.85,0.00,9.35,Cash,37.0
16745,06/29/2015 08:15:00 PM,06/29/2015 08:30:00 PM,420.0,1.30,32.0,8.0,6.45,0.00,6.45,Cash,38.0
16744,03/11/2015 09:30:00 PM,03/11/2015 09:45:00 PM,780.0,0.10,76.0,76.0,7.25,0.00,7.25,Cash,75.0
16743,12/16/2013 04:45:00 PM,12/16/2013 05:15:00 PM,2100.0,11.50,32.0,48.0,27.45,0.00,28.45,Cash,38.0
16739,09/29/2015 07:45:00 PM,09/29/2015 07:45:00 PM,480.0,1.20,8.0,8.0,6.45,0.00,6.45,Cash,37.0
16735,07/01/2015 02:30:00 PM,07/01/2015 02:45:00 PM,900.0,2.60,33.0,8.0,10.25,0.00,10.25,Cash,34.0
16733,10/13/2013 01:00:00 AM,10/13/2013 01:15:00 AM,780.0,0.00,3.0,32.0,17.45,0.00,18.45,Cash,31.0
16732,08/25/2013 10:45:00 AM,08/25/2013 11:00:00 AM,720.0,3.50,32.0,33.0,11.05,0.00,12.05,Cash,38.0
16731,11/08/2013 10:45:00 AM,11/08/2013 10:45:00 AM,60.0,0.00,48.0,48.0,0.00,0.00,0.00,Cash,44.0
16730,10/22/2013 04:00:00 PM,10/22/2013 04:15:00 PM,1020.0,0.00,8.0,7.0,11.05,0.00,11.05,Cash,37.0
16728,09/29/2014 10:45:00 AM,09/29/2014 11:00:00 AM,1020.0,3.10,8.0,33.0,11.65,0.00,12.65,Cash,37.0
16727,11/19/2016 12:30:00 PM,11/19/2016 12:30:00 PM,0.0,0.00,32.0,32.0,3.25,0.00,4.25,Cash,38.0
49998,03/22/2014 03:30:00 AM,03/22/2014 03:45:00 AM,1200.0,0.00,38.0,71.0,16.25,0.00,16.25,Cash,4.0

In [13]:
df_reduced.sort_values("Tips", inplace=True, ascending=False)
df_reduced

,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Community Area,Dropoff Community Area,Fare,Tips,Trip Total,Payment Type,Community Areas
35262,12/10/2013 08:45:00 PM,12/10/2013 10:00:00 PM,3780.0,47.00,56.0,NaN,89.05,56.00,149.05,Credit Card,53.0
28934,05/20/2014 10:15:00 AM,05/20/2014 10:15:00 AM,60.0,0.00,10.0,10.0,3.25,47.00,50.25,Credit Card,36.0
7536,04/29/2015 09:15:00 AM,04/29/2015 10:30:00 AM,4260.0,34.60,32.0,NaN,70.65,47.00,119.65,Credit Card,38.0
13979,07/12/2014 06:00:00 PM,07/12/2014 06:45:00 PM,2220.0,1.60,76.0,NaN,51.65,45.00,100.15,Credit Card,75.0
17919,10/17/2016 04:15:00 PM,10/17/2016 04:45:00 PM,2040.0,1.20,76.0,NaN,48.75,38.00,93.75,Credit Card,75.0
33496,03/16/2013 03:30:00 PM,03/16/2013 04:15:00 PM,2520.0,29.30,41.0,NaN,57.25,35.00,93.75,Credit Card,8.0
9059,06/25/2016 09:00:00 AM,06/25/2016 09:30:00 AM,1920.0,19.30,8.0,76.0,48.75,30.00,79.75,Credit Card,37.0
18269,05/12/2017 09:15:00 AM,05/12/2017 09:45:00 AM,2400.0,17.80,8.0,76.0,45.50,30.00,77.50,Credit Card,37.0
34875,03/15/2014 02:45:00 AM,03/15/2014 03:00:00 AM,600.0,3.70,6.0,8.0,10.65,30.00,41.65,Credit Card,57.0
25593,09/13/2014 08:00:00 PM,09/13/2014 08:45:00 PM,3240.0,21.80,6.0,NaN,47.65,29.35,78.00,Credit Card,57.0
46047,09/22/2015 01:45:00 PM,09/22/2015 02:30:00 PM,2640.0,34.20,76.0,NaN,66.45,28.00,121.45,Credit Card,75.0
44663,02/09/2017 07:45:00 PM,02/09/2017 08:30:00 PM,2040.0,1.30,56.0,NaN,55.50,28.00,87.50,Credit Card,53.0
45799,02/03/2016 08:00:00 PM,02/03/2016 08:45:00 PM,2880.0,35.70,76.0,NaN,84.00,26.30,157.80,Credit Card,75.0
26004,03/20/2016 03:45:00 AM,03/20/2016 04:30:00 AM,1980.0,25.70,32.0,NaN,62.75,26.30,114.05,Credit Card,38.0
1880,03/19/2015 12:30:00 PM,03/19/2015 01:15:00 PM,2460.0,19.50,56.0,NaN,38.45,26.00,66.45,Credit Card,53.0
37383,10/02/2016 10:00:00 PM,10/02/2016 10:45:00 PM,3000.0,41.40,76.0,NaN,99.50,25.20,151.70,Credit Card,75.0
33854,06/01/2015 04:15:00 PM,06/01/2015 05:15:00 PM,3900.0,2.50,56.0,NaN,80.85,25.05,150.30,Credit Card,53.0
15784,06/19/2014 07:00:00 PM,06/19/2014 07:30:00 PM,1320.0,15.90,76.0,NaN,32.85,25.00,77.68,Credit Card,75.0
43062,08/28/2015 11:15:00 AM,08/28/2015 12:00:00 PM,3240.0,31.57,8.0,NaN,65.25,25.00,110.25,Credit Card,37.0
4416,10/14/2013 06:15:00 AM,10/14/2013 06:45:00 AM,1980.0,0.00,76.0,NaN,47.65,25.00,75.65,Credit Card,75.0
49356,02/20/2016 10:30:00 PM,02/20/2016 10:45:00 PM,1140.0,8.60,5.0,9.0,23.50,24.74,49.24,Credit Card,46.0
26561,05/13/2017 07:45:00 AM,05/13/2017 08:30:00 AM,2160.0,30.10,76.0,NaN,73.50,23.40,140.90,Credit Card,75.0
2247,12/02/2016 02:45:00 PM,12/02/2016 03:15:00 PM,1920.0,18.50,76.0,NaN,45.75,22.58,97.83,Credit Card,75.0
12010,06/23/2014 08:45:00 AM,06/23/2014 09:15:00 AM,1380.0,0.70,76.0,NaN,26.85,22.50,53.35,Credit Card,75.0
23167,03/14/2016 01:45:00 PM,03/14/2016 02:15:00 PM,2040.0,28.80,76.0,NaN,68.25,22.05,132.30,Credit Card,75.0
34607,04/06/2017 01:15:00 PM,04/06/2017 02:30:00 PM,4980.0,39.20,NaN,32.0,97.00,21.80,131.30,Credit Card,NaN
27181,05/22/2016 04:30:00 PM,05/22/2016 05:30:00 PM,2940.0,1.60,33.0,NaN,66.25,21.30,106.55,Credit Card,34.0
4854,11/26/2015 03:15:00 PM,11/26/2015 04:15:00 PM,3720.0,31.67,8.0,NaN,62.85,20.71,103.56,Credit Card,37.0
30776,04/28/2016 05:30:00 PM,04/28/2016 06:15:00 PM,2760.0,26.20,76.0,NaN,63.50,20.30,121.80,Credit Card,75.0
45925,02/07/2016 05:30:00 PM,02/07/2016 06:00:00 PM,2460.0,19.80,41.0,NaN,49.75,20.00,69.75,Credit Card,8.0
...,...,...,...,...,...,...,...,...,...,...,...
20131,02/14/2015 08:30:00 PM,02/14/2015 08:30:00 PM,180.0,0.00,3.0,3.0,4.25,0.00,5.25,Cash,31.0
20133,01/24/2013 07:15:00 PM,01/24/2013 07:45:00 PM,1620.0,5.30,32.0,6.0,16.45,0.00,16.45,Cash,38.0
20135,11/11/2015 12:15:00 PM,11/11/2015 12:30:00 PM,1560.0,18.10,76.0,32.0,37.05,0.00,96.10,Cash,75.0
20136,11/21/2015 10:45:00 PM,11/21/2015 11:00:00 PM,600.0,1.30,8.0,32.0,7.05,0.00,8.05,Cash,37.0
20137,07/10/2014 10:15:00 AM,07/10/2014 10:15:00 AM,420.0,0.60,32.0,32.0,5.65,0.00,5.65,Cash,38.0
20138,09/14/2015 11:15:00 AM,09/14/2015 11:30:00 AM,540.0,1.40,28.0,8.0,7.05,0.00,7.05,Cash,29.0
20139,06/26/2014 12:00:00 AM,06/26/2014 12:15:00 AM,900.0,0.30,28.0,5.0,15.65,0.00,15.65,Cash,29.0
20140,01/19/2017 08:15:00 PM,01/19/2017 08:45:00 PM,1680.0,13.90,56.0,22.0,35.25,0.00,39.25,Cash,53.0
20142,06/21/2014 02:45:00 AM,06/21/2014 03:00:00 AM,600.0,0.00,8.0,7.0,8.65,0.00,10.15,Cash,37.0
20144,05/27/2014 12:15:00 AM,05/27/2014 12:30:00 AM,780.0,5.20,6.0,8.0,13.65,0.00,14.65,Cash,57.0
20123,03/05/2014 10:30:00 AM,03/05/2014 11:00:00 AM,1620.0,6.90,6.0,32.0,18.65,0.00,18.65,Cash,57.0
20118,09/25/2015 11:45:00 PM,09/26/2015 12:00:00 AM,240.0,0.50,8.0,8.0,4.65,0.00,5.65,Cash,37.0
20092,05/15/2015 08:30:00 AM,05/15/2015 08:30:00 AM,480.0,0.90,32.0,28.0,6.25,0.00,6.25,Cash,38.0
20117,05/24/2016 05:30:00 PM,05/24/2016 06:45:00 PM,4320.0,18.00,32.0,76.0,49.25,0.00,49.25,Cash,38.0
20093,07/30/2015 04:45:00 PM,07/30/2015 04:45:00 PM,0.0,0.00,8.0,8.0,3.25,0.00,3.25,Cash,37.0
20095,06/12/2013 10:45:00 AM,06/12/2013 11:15:00 AM,1080.0,5.20,77.0,NaN,14.25,0.00,14.25,Cash,76.0
20096,06/17/2013 09:00:00 AM,06/17/2013 09:00:00 AM,540.0,0.00,32.0,8.0,7.45,0.00,7.45,Cash,38.0
20098,08/13/2014 09:30:00 AM,08/13/2014 10:00:00 AM,1200.0,1.80,8.0,32.0,11.45,0.00,11.45,Cash,37.0
20099,01/05/2017 04:15:00 PM,01/05/2017 04:15:00 PM,300.0,0.06,76.0,76.0,5.25,0.00,5.25,Cash,75.0
20100,01/17/2015 01:45:00 PM,01/17/2015 02:15:00 PM,2340.0,14.50,77.0,76.0,32.45,0.00,34.45,Cash,76.0
20102,08/29/2013 09:30:00 PM,08/29/2013 09:30:00 PM,360.0,1.50,8.0,7.0,6.45,0.00,8.45,Cash,37.0
20106,05/10/2014 09:00:00 PM,05/10/2014 09:30:00 PM,1020.0,0.00,24.0,6.0,10.85,0.00,10.85,Cash,25.0
20107,11/26/2014 10:45:00 PM,11/26/2014 10:45:00 PM,240.0,0.70,8.0,8.0,4.65,0.00,7.65,Cash,37.0
20110,11/14/2013 07:15:00 PM,11/14/2013 07:45:00 PM,1140.0,0.48,21.0,3.0,13.85,0.00,13.85,Cash,22.0
20111,08/17/2014 07:45:00 PM,08/17/2014 07:45:00 PM,360.0,0.00,8.0,8.0,5.45,0.00,5.45,Cash,37.0
20112,03/25/2013 09:00:00 AM,03/25/2013 09:00:00 AM,0.0,0.00,28.0,NaN,6.45,0.00,6.45,Cash,29.0
20114,04/23/2016 06:30:00 PM,04/23/2016 07:00:00 PM,1200.0,1.90,8.0,8.0,11.25,0.00,11.25,Cash,37.0
20115,02/28/2016 04:00:00 PM,02/28/2016 04:00:00 PM,360.0,1.10,7.0,7.0,6.25,0.00,6.25,Cash,68.0
20116,05/29/2013 12:00:00 PM,05/29/2013 12:30:00 PM,1800.0,17.40,76.0,8.0,36.25,0.00,39.25,Cash,75.0
25000,05/19/2016 11:15:00 PM,05/19/2016 11:15:00 PM,360.0,0.00,32.0,NaN,6.25,0.00,6.25,Cash,38.0