In [17]:
import pandas as pd
import matplotlib as plt
import gmaps
import numpy as np
from api_keys import gkey

file = "output/summary_df.csv"

df_summary = pd.read_csv(file)
# df_summary.head()

In [18]:
# df_summary["summary"].unique()

In [19]:
# df_summary.groupby("summary")["Trip ID"].count()

In [20]:
# df_summary.groupby("temperature")
# df_summary.dtypes
# df['new_col'] = df['First'].astype(str)
df_summary["New Column"] = df_summary["new time"].astype(str)

series_summary = pd.Series(df_summary["New Column"])
expanded_series_summary = series_summary.str.rsplit("-", expand=True)

df_expanded_date = pd.DataFrame(expanded_series_summary)
df_expanded_date.head()

df_summary_expanded_date = df_summary.join(df_expanded_date, how="outer")

# df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})

df_summary_expanded_date = df_summary_expanded_date.rename(columns={0: "Year", 1: "Month", 2: "Day"})
df_summary_expanded_date.head()

,Unnamed: 0,summary,new time,Trip ID,precipIntensity,precipProbability,temperature,apparentTemperature,windSpeed,New Column,Year,Month,Day
0,0,Clear,2013-01-04,4,0.0,0.0,16.6825,7.5875,6.4325,2013-01-04,2013,01,04
1,1,Clear,2013-01-07,1,0.0,0.0,21.5800,15.0100,4.8400,2013-01-07,2013,01,07
2,2,Clear,2013-01-14,1,0.0,0.0,12.4300,7.1200,3.0300,2013-01-14,2013,01,14
3,3,Clear,2013-01-16,2,0.0,0.0,22.8950,18.8150,4.5750,2013-01-16,2013,01,16
4,4,Clear,2013-01-18,1,0.0,0.0,19.2600,19.2600,0.3900,2013-01-18,2013,01,18

In [33]:
# bins = [3, ]
df_summary_expanded_date["Month"].unique()

# group_labels = ["Winter", "Spring", "Summer", "Fall"]

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12'], dtype=object)

In [36]:
df_summary_expanded_date["Month"].astype(int)

# df['elderly'] = np.where(df['age']>=50, 'yes', 'no')

# df_summary_expanded_date["Season"] = np.where(df_summary_expanded_date["Month"]<4 | 
#                                     df_summary_expanded_date["Month"]<10, "Winter")

0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        2
10       2
11       2
12       2
13       2
14       2
15       2
16       3
17       3
18       3
19       3
20       3
21       3
22       3
23       3
24       3
25       3
26       3
27       4
28       4
29       4
        ..
2216     7
2217     8
2218     8
2219     9
2220    10
2221    11
2222     4
2223     4
2224     6
2225    11
2226    12
2227    12
2228     4
2229     5
2230     6
2231     7
2232     7
2233     7
2234     8
2235     8
2236     8
2237     9
2238    10
2239    10
2240     2
2241     3
2242     4
2243     5
2244     5
2245     5
Name: Month, Length: 2246, dtype: int32

In [43]:
# conditions = [
#     (df['Set'] == 'Z') & (df['Type'] == 'A'),
#     (df['Set'] == 'Z') & (df['Type'] == 'B'),
#     (df['Type'] == 'B')]
# choices = ['yellow', 'blue', 'purple']
# df['color'] = np.select(conditions, choices, default='black')


conditions = [
    (df_summary_expanded_date["Month"].any == 1 or 2 or 3 or 11 or 12),
    (df_summary_expanded_date["Month"].any == 4 or 5 or 6),
    (df_summary_expanded_date["Month"].any == 7 or 8),
    (df_summary_expanded_date["Month"].any == 9 or 10)]
choices = ["Winter", "Spring", "Summer", "Fall"]
df_summary_expanded_date["Season"] = np.select(conditions, choices)

df_summary_expanded_date

C:\Users\sseyer\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:15: DeprecationWarning: select condlists containing integer ndarrays is deprecated and will be removed in the future. Use `.astype(bool)` to convert to bools.
  from ipykernel import kernelapp as app

,Unnamed: 0,summary,new time,Trip ID,precipIntensity,precipProbability,temperature,apparentTemperature,windSpeed,New Column,Year,Month,Day,Season
0,0,Clear,2013-01-04,4,0.000000,0.000000,16.682500,7.587500,6.432500,2013-01-04,2013,01,04,Winter
1,1,Clear,2013-01-07,1,0.000000,0.000000,21.580000,15.010000,4.840000,2013-01-07,2013,01,07,Winter
2,2,Clear,2013-01-14,1,0.000000,0.000000,12.430000,7.120000,3.030000,2013-01-14,2013,01,14,Winter
3,3,Clear,2013-01-16,2,0.000000,0.000000,22.895000,18.815000,4.575000,2013-01-16,2013,01,16,Winter
4,4,Clear,2013-01-18,1,0.000000,0.000000,19.260000,19.260000,0.390000,2013-01-18,2013,01,18,Winter
5,5,Clear,2013-01-19,1,0.000000,0.000000,39.140000,34.190000,6.850000,2013-01-19,2013,01,19,Winter
6,6,Clear,2013-01-20,1,0.000000,0.000000,14.030000,3.250000,7.660000,2013-01-20,2013,01,20,Winter
7,7,Clear,2013-01-22,1,0.000000,0.000000,0.750000,-8.410000,4.230000,2013-01-22,2013,01,22,Winter
8,8,Clear,2013-01-26,2,0.000200,0.035000,20.645000,16.925000,3.200000,2013-01-26,2013,01,26,Winter
9,9,Clear,2013-02-01,1,0.000000,0.000000,1.660000,-10.160000,6.210000,2013-02-01,2013,02,01,Winter
10,10,Clear,2013-02-13,3,0.000000,0.000000,29.203333,28.180000,2.293333,2013-02-13,2013,02,13,Winter
11,11,Clear,2013-02-15,1,0.000000,0.000000,29.570000,23.950000,5.300000,2013-02-15,2013,02,15,Winter
12,12,Clear,2013-02-16,4,0.000000,0.000000,15.857500,8.237500,4.952500,2013-02-16,2013,02,16,Winter
13,13,Clear,2013-02-17,1,0.000000,0.000000,11.670000,11.670000,1.690000,2013-02-17,2013,02,17,Winter
14,14,Clear,2013-02-20,4,0.000000,0.000000,9.705000,-0.107500,5.830000,2013-02-20,2013,02,20,Winter
15,15,Clear,2013-02-24,2,0.000200,0.090000,27.095000,25.580000,2.945000,2013-02-24,2013,02,24,Winter
16,16,Clear,2013-03-03,2,0.000350,0.060000,24.905000,22.865000,2.865000,2013-03-03,2013,03,03,Winter
17,17,Clear,2013-03-04,1,0.000000,0.000000,20.410000,20.410000,0.560000,2013-03-04,2013,03,04,Winter
18,18,Clear,2013-03-14,2,0.000000,0.000000,24.230000,24.230000,1.265000,2013-03-14,2013,03,14,Winter
19,19,Clear,2013-03-19,1,0.000000,0.000000,25.780000,15.040000,11.860000,2013-03-19,2013,03,19,Winter
20,20,Clear,2013-03-20,1,0.000000,0.000000,15.730000,6.570000,6.280000,2013-03-20,2013,03,20,Winter
21,21,Clear,2013-03-21,2,0.000000,0.000000,23.505000,16.660000,5.420000,2013-03-21,2013,03,21,Winter
22,22,Clear,2013-03-22,3,0.000000,0.000000,26.973333,26.973333,1.630000,2013-03-22,2013,03,22,Winter
23,23,Clear,2013-03-28,1,0.000000,0.000000,42.980000,42.980000,2.570000,2013-03-28,2013,03,28,Winter
24,24,Clear,2013-03-29,1,0.000000,0.000000,51.370000,51.370000,1.120000,2013-03-29,2013,03,29,Winter
25,25,Clear,2013-03-30,1,0.000000,0.000000,31.380000,31.380000,0.000000,2013-03-30,2013,03,30,Winter
26,26,Clear,2013-03-31,2,0.000000,0.000000,51.250000,49.855000,6.870000,2013-03-31,2013,03,31,Winter
27,27,Clear,2013-04-02,4,0.000000,0.000000,28.855000,25.817500,3.472500,2013-04-02,2013,04,02,Winter
28,28,Clear,2013-04-03,4,0.000000,0.000000,32.445000,31.037500,2.262500,2013-04-03,2013,04,03,Winter
29,29,Clear,2013-04-05,4,0.000000,0.000000,41.237500,37.025000,6.402500,2013-04-05,2013,04,05,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216,2216,Rain,2014-07-12,1,0.098100,0.990000,71.620000,72.880000,4.280000,2014-07-12,2014,07,12,Winter
2217,2217,Rain,2014-08-11,2,0.069600,0.855000,68.005000,68.805000,2.835000,2014-08-11,2014,08,11,Winter
2218,2218,Rain,2014-08-21,2,0.116950,1.000000,71.565000,72.810000,1.560000,2014-08-21,2014,08,21,Winter
2219,2219,Rain,2014-09-10,2,0.106100,0.955000,68.035000,68.915000,5.630000,2014-09-10,2014,09,10,Winter
2220,2220,Rain,2014-10-03,1,0.058200,0.980000,56.030000,56.030000,4.720000,2014-10-03,2014,10,03,Winter
2221,2221,Rain,2014-11-24,1,0.055900,1.000000,37.080000,30.510000,8.980000,2014-11-24,2014,11,24,Winter
2222,2222,Rain,2015-04-02,1,0.073800,0.940000,51.050000,51.050000,3.140000,2015-04-02,2015,04,02,Winter
2223,2223,Rain,2015-04-09,1,0.131700,0.990000,59.740000,59.920000,3.310000,2015-04-09,2015,04,09,Winter
2224,2224,Rain,2015-06-14,3,0.094133,0.893333,70.763333,71.980000,0.850000,2015-06-14,2015,06,14,Winter
2225,2225,Rain,2015-11-27,1,0.160900,1.000000,44.570000,42.450000,4.180000,2015-11-27,2015,11,27,Winter
2226,2226,Rain,2015-12-14,1,0.077400,1.000000,59.800000,59.800000,6.870000,2015-12-14,2015,12,14,Winter
2227,2227,Rain,2015-12-21,1,0.107400,1.000000,42.330000,38.260000,6.450000,2015-12-21,2015,12,21,Winter
2228,2228,Rain,2016-04-28,1,0.058800,0.950000,43.770000,40.600000,5.440000,2016-04-28,2016,04,28,Winter
2229,2229,Rain,2016-05-04,2,0.099100,0.990000,50.830000,50.830000,1.720000,2016-05-04,2016,05,04,Winter
2230,2230,Rain,2016-06-01,1,0.057800,1.000000,64.170000,64.700000,0.870000,2016-06-01,2016,06,01,Winter
2231,2231,Rain,2016-07-06,3,0.115300,0.996667,68.556667,69.443333,1.373333,2016-07-06,2016,07,06,Winter
2232,2232,Rain,2016-07-18,1,0.184300,0.870000,73.490000,74.770000,1.190000,2016-07-18,2016,07,18,Winter
2233,2233,Rain,2016-07-24,1,0.115000,1.000000,70.990000,72.260000,2.440000,2016-07-24,2016,07,24,Winter
2234,2234,Rain,2016-08-12,1,0.074000,0.760000,76.540000,78.220000,1.820000,2016-08-12,2016,08,12,Winter
2235,2235,Rain,2016-08-18,1,0.116900,0.710000,71.600000,72.830000,0.550000,2016-08-18,2016,08,18,Winter
2236,2236,Rain,2016-08-30,1,0.067200,0.860000,72.570000,73.950000,0.360000,2016-08-30,2016,08,30,Winter
2237,2237,Rain,2016-09-21,1,0.063800,0.850000,68.310000,69.020000,2.860000,2016-09-21,2016,09,21,Winter
2238,2238,Rain,2016-10-01,1,0.073000,0.820000,60.360000,60.510000,2.210000,2016-10-01,2016,10,01,Winter
2239,2239,Rain,2016-10-06,1,0.076600,0.970000,63.800000,64.310000,1.120000,2016-10-06,2016,10,06,Winter
2240,2240,Rain,2017-02-07,1,0.075900,0.980000,44.560000,44.560000,0.910000,2017-02-07,2017,02,07,Winter
2241,2241,Rain,2017-03-30,1,0.137200,1.000000,41.220000,36.270000,7.640000,2017-03-30,2017,03,30,Winter
2242,2242,Rain,2017-04-06,1,0.062700,1.000000,38.660000,31.210000,11.860000,2017-04-06,2017,04,06,Winter
2243,2243,Rain,2017-05-09,1,0.083000,0.990000,41.850000,41.850000,2.200000,2017-05-09,2017,05,09,Winter
2244,2244,Rain,2017-05-20,1,0.132500,1.000000,51.740000,51.740000,7.650000,2017-05-20,2017,05,20,Winter
2245,2245,Rain,2017-05-24,1,0.067300,0.980000,53.160000,53.160000,3.800000,2017-05-24,2017,05,24,Winter